<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<div>
  <div class="imgAKKA"><img src="../assets/images/hero.webp" id="animatedImage1" class="animg" width="" alt=""></div>



  <!-- </div>
<div class="abt"
  style="width: 350px; height: 350px; background-color: rgb(201, 238, 254); display: flex; position:relative; bottom: 500px;left: 50px; justify-content: center;">
  <strong>WELCOME</strong>
</div> -->

  <div style="display: flex; position: relative; top: 340px; "><img
      src="../assets/images/Screenshot 2023-06-30 174704.png  " width="100%" alt=""></div>







  <div style="position:relative;top: 200px;" class="content">
    <h1>FOUNDER</h1>


  </div>
  <div class="content1">
    <h5>DR MARAN</h5>
  </div>



  <div class="row row-cols-1 row-cols-lg-4 g-2 g-lg-3 justify-content-evenly  diff" style="margin-top:120px;">

    <div class="card-border-0">
      <img src="../assets/images/hrt-wr-001.png" class="card-img-top" alt="Card Image">
      <div class="card-body">

      </div>
    </div>
    <div class="card-border-01">
      <img src=".././assets/images/download.jpeg" class="card-img-top" alt="Card Image">
      <div class="card-body">

      </div>
    </div>
    <div class="card-border-0">
      <img src="../assets/images/heartProt.png" class="card-img-top" alt="Card Image">
      <div class="card-body">

      </div>
    </div>
  </div>






  <div class="container-fluid" style="margin-top: 200px;">
    <div class="row-6">
      <div class="col-4" style=" ">
        <!-- <h4 style="text-align: left ;"> BEST HEART RELATED TREATMENT</h4> -->
        <!-- <p style=" margin-right: 180px;">OUR HOSPITAL IS PROUD TO OFFER COMPREHENSIVE CARDIOLOGY SERVICES PROVIDED BY A TEAM OF HIGHLY
          SKILLED AND EXPERIENCED CARDIOLOGISTS. WE ARE DEDICATED TO PROVIDING EXCEPTIONAL CARE FOR PATIENTS WITH
          VARIOUS HEART CONDITIONS.</p> -->
      </div>
      <div class="col-md-4  mov">
        <img src="../assets/images/cpro.png " width="400px" alt="Image" style="">
      </div>
      <div class="col-md-4">
        <!-- <h4>Third Column</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
      </div>
    </div>
  </div>

  <div class="container" style="height: 400px; background-color: white;"></div>